.nav {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
  align-items: center;
  z-index: 1001;
}

.nav--sticky {
  height: 8vh;
  background-color: black;
}

.nav--sticky #nav__logo img {
  width: 50px;
}

.nav--sticky .menu__items {
  top: 8vh !important;
}

#nav__logo {
  height: 50px;
}
#nav__menu {
  margin: 1rem;
}

#nav__menu .menu__icon * {
  background-color: white;
}

@keyframes sticky-nav {
  from {
    background-color: black;
  }
  to {
    height: 8vh;
    background-color: black;
  }
}
