#what-i-offer {
  margin-top: 4rem;
}

#what-i-offer__title {
  font-weight: 400;
}

#what-i-offer__subtitle {
  margin-top: 3rem;
  letter-spacing: 3px;
  font-weight: 400;
}

#what-i-offer__text {
  margin: 2rem 1rem;
}
