* {
	color: #fff;
	margin: 0;
	padding: 0;
	/*  */
}
html {
	font-family: "Raleway", sans-serif;
}

/*        Header         */
ul {
	padding: 0;
	list-style: none;
}
.nav-bar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar li {
	margin: 1rem 2rem;
}
/* Logo */
.logo img {
	height: 2rem;
	width: 2rem;
}

/* Company Name */
.company-name {
	display: inherit;
	color: #fff;
	user-select: none;
	font-family: "Mate SC", serif;
}

.company-name h4 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 100;
}

.company-name .underline {
	height: 1px;
	margin: 0;
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
}

/* Menu Items */
li.menu-items {
	margin: 0;
}

.menu-items {
	top: 0;
	left: 0;
	position: absolute;
	background-color: #000;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.7s;
	z-index: -2;
}

.menu-items a {
	color: #fff;
	text-decoration: none;
	margin: 0.5rem 0;
}

.menu-items a:hover {
	color: #d8d7d7;
	transform: scale(1.05);
}

/* Hamburger Menu animations */
.hamburger-menu {
	display: flex;
	flex-direction: column;
	height: 20px;
	width: 20px;
	cursor: pointer;
	justify-content: center;
	z-index: 1;
}

.menu-icon {
	width: 20px;
	height: 0.5px;
	background-color: white;
	transition: all ease-in-out 0.5s;
}

.menu-icon::before,
.menu-icon::after {
	content: "";
	position: absolute;
	height: 0.5px;
	background-color: white;
	width: 15px;
	transition: all ease-in-out 0.5s;
}

.menu-icon::before {
	transform: translate(17.5%, -5px);
}
.menu-icon::after {
	transform: translate(17.5%, 5px);
}
.open-menu .menu-icon::before,
.open-menu .menu-icon::after {
	height: 1px;
}

.open-menu .menu-icon::before {
	transform: rotate(45deg) translate(10px, -10px) scale(1.5);
}

.open-menu .menu-icon {
	transform: translateX(-10px);
	background: transparent;
}

.open-menu .menu-icon::after {
	transform: rotate(-45deg) translate(10px, 10px) scale(1.5);
}

/* Hero */

.hero-wrapper {
	background-color: #000;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	overflow: hidden;
}

.hero-background {
	height: 100%;
	z-index: -1;
	background: center center fixed no-repeat url(./media/maxresdefault.jpg);
	background-size: cover;
	/* background-position: -23rem -2rem; */
	box-shadow: 10px 10px 80px 40px black inset;
	opacity: 0.25;
}

.call-to-action-wrap {
	height: 1rem;
	display: flex;
	position: absolute;
	width: 100%;
	top: 50%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.welcome-text {
	user-select: none;
	font-weight: 900;
}

.buttons {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

.buttons a {
	padding: 0.8rem;
	margin: 0.5rem;
	width: 10rem;
	border-radius: 2rem;
	border: none;
	text-align: center;
	text-decoration: none;
	background-color: white;
	color: rgb(2, 2, 2);
	font-size: 0.8rem;
	font-weight: 900;
	height: 100%;
	border: solid white 2px;
}

.buttons a:hover {
	color: white;
	background: none;
}

.scroll-arrow-wrap {
	position: absolute;
	left: 0;
	bottom: 3%;
	margin: 0;
	height: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: scroll-arrow-animation ease-in-out 2s infinite;
}

.scroll-arrow {
	width: 2rem;
	height: 3px;
	background: transparent;
}

.scroll-arrow::before,
.scroll-arrow::after {
	content: "";
	position: absolute;
	height: 2.4px;
	width: 0.7rem;
	background-color: white;
	opacity: 0.5;
}

.scroll-arrow::before {
	transform: skewY(20deg);
	right: 48%;
}
.scroll-arrow::after {
	transform: skewY(-21deg);
	left: 52%;
}

@keyframes scroll-arrow-animation {
	0%,
	30% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Gallery */
.gallery {
	position: absolute;
	top: 100vh;
	height: 20rem;
	width: 100%;
	background-color: #f0eff4;
}
