html {
	color: #fff;
	font-family: "Mate SC", serif;
}

/*        Header         */
ul {
	padding: 0;
	list-style: none;
}
.nav-bar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar li {
	margin: 0 2rem;
}
/* Logo */
.logo img {
	height: 2rem;
	width: 2rem;
}

/* Name */
.name {
	color: #fff;
	margin: 0;
	font-weight: 100;
	padding: 0;
	user-select: none;
}

.name h4 {
	font-weight: 100;
}

.name hr {
	height: 0.1px;
	margin: 0;
}

/* Menu Items */
li.menu-items {
	margin: 0;
}

.menu-items {
	top: 0;
	left: 0;
	position: absolute;
	background-color: #000;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
	transition: all 0.5s;
	z-index: -1;
}

.menu-items a {
	color: #fff;
	text-decoration: none;
	margin: 0.5rem 0;
}

.menu-items a:hover {
	color: #d8d7d7;
	transform: scale(1.05);
}

/* Hamburger Menu animations */
.hamburger-menu {
	display: flex;
	flex-direction: column;
	height: 20px;
	width: 20px;
	cursor: pointer;
	justify-content: center;
	z-index: 1;
}

.menu-icon {
	width: 20px;
	height: 1px;
	background-color: white;
	transition: all ease-in-out 0.5s;
}

.menu-icon::before,
.menu-icon::after {
	content: "";
	position: absolute;
	height: 1px;
	background-color: white;
	width: 15px;
	transition: all ease-in-out 0.5s;
}

.menu-icon::before {
	transform: translate(17.5%, -5px);
}
.menu-icon::after {
	transform: translate(17.5%, 5px);
}

.open-menu .menu-icon::before {
	transform: rotate(45deg) translate(10px, -10px) scale(1.5);
}

.open-menu .menu-icon {
	transform: translateX(-10px);
	background: transparent;
}

.open-menu .menu-icon::after {
	transform: rotate(-45deg) translate(10px, 10px) scale(1.5);
}

/* Hero */

.hero-wrapper {
	background-color: #000;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.hero {
	height: 100%;
	background: center center fixed no-repeat
		url("https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/06/23/Health-Environment-Science/Images/iStock-502456958.JPG?t=20170517");
	background-size: cover;
	box-shadow: 10px 10px 20vh 20vh black inset;
}
