@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
}

body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: "Open Sans", arial, sans-serif;
}

.section__profile {
  margin-top: 2rem;
}

.section__social {
  min-height: 18rem !important;
}

#dermalize .description__text {
  width: 90%;
}
