.gallery {
  cursor: grab;
}

.gallery__viewport {
  display: flex;
  transition: all 1s ease-in-out;
}

.gallery__image {
  max-height: 10rem;
  padding: 1rem;
  transition: all 0.1s ease-in-out;
}

.gallery__image:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
