.hamburger-menu {
	display: flex;
	flex-direction: column;
	height: 20px;
	width: 20px;
	cursor: pointer;
	justify-content: center;
	z-index: 1;
}

.menu-icon {
	width: 20px;
	height: 0.5px;
	background-color: white;
	transition: all ease-in-out 0.5s;
}

.menu-icon::before,
.menu-icon::after {
	content: "";
	position: absolute;
	height: 0.5px;
	background-color: white;
	width: 15px;
	transition: all ease-in-out 0.5s;
}

.menu-icon::before {
	transform: translate(17.5%, -5px);
}
.menu-icon::after {
	transform: translate(17.5%, 5px);
}
.open-menu .menu-icon::before,
.open-menu .menu-icon::after {
	height: 1px;
}

.open-menu .menu-icon::before {
	transform: rotate(45deg) translate(10px, -10px) scale(1.5);
}

.open-menu .menu-icon {
	transform: translateX(-10px);
	background: transparent;
}

.open-menu .menu-icon::after {
	transform: rotate(-45deg) translate(10px, 10px) scale(1.5);
}
