.contact__title {
  font-weight: 400;
  font-size: 1.5rem;
  color: #2a2a2a;
  text-align: center;
  font-family: "Open Sans", arial, sans-serif;
}

.contact__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__details * {
  color: #6c6c6c;
  font-family: "Open Sans", arial, sans-serif;
}
.contact__studio-name {
  text-transform: capitalize;
  color: #151515;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 0.9;
}

.contact__phone {
  margin-top: 1rem;
  text-align: center;
}

.contact__phone p {
  margin: 0;
}
.contact__details .phone__number {
  cursor: pointer;
}

.hours {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours svg {
  cursor: pointer;
}
.hours__dropdown {
  position: relative;
}

.hours__today {
  margin: 0;
}

.table {
  position: relative;
  display: flex;
  flex-direction: column;
}
.table__row {
  display: flex;
}

.table__row * {
  margin: 0;
}

.table__row--active {
  font-weight: 600;
}
.table__day {
  width: 2rem;
  text-align: right;
}

.table__hours {
  margin-left: 1rem;
}

.table svg {
  position: absolute;
  top: 0;
  right: -1rem;
}
