.gallery__viewport {
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
}

.gallery {
  display: flex;
}

.gallery__image {
  margin: 0 2px;
  max-width: auto;
  height: 200px;
  opacity: 0.6;
}

.focused {
  opacity: 1;
}
