.gallery {
  display: flex;
  transform: translateX(-50vw);
  scrollbar-width: none;
}

.gallery__image {
  margin: 0 2px;
  max-width: auto;
  height: 200px;
  opacity: 0.6;
}

.focused {
  opacity: 1;
}
