.gallery__viewport {
  max-width: 90vw;
  margin: auto;
  overflow-x: hidden;
  height:15rem;
}

.gallery {
  display: flex;
}

.gallery__image {
  margin: 0 5px;
  max-width: auto;
  height: 14rem;
  opacity: 0.6;
}

.focused {
  opacity: 1;
  box-shadow: 2px 2px 10px #000;
}
